:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #030f05;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input {
  line-height: 2;
  background-color: #030f05;
  border: 1px solid #4a524b;
  color: white;
}

select {
  background-color: #030f05;
  border: 1px solid #4a524b;
  color: white;
  padding: 5px;
}

input:focus { 
  outline-style: solid;
  outline-color:#00FF87;
  /* outline-color:#97FB57; */
}

input[type="radio"] {
  margin: 0 6px;
  accent-color: #00FF87; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#55e631;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00FF87;
  color: #00FF87;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.offscreen {
  display: none;
}

.container {
  max-width: 640px;
  padding: 4px 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
}

.nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.label {
  min-width: 75px;
  display: inline-block;
}

.distance-unit {
  display: inline;
  margin-left: 16px;
}

.error-msg {
  color: crimson;
}

.date {
  border: 1px solid fuchsia;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.date p {
  margin: 0;
}

.date-day {
  font-size: 0.9rem;
}

.run-card {
  padding: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid transparent;
}

.run-card:hover {
  border: 1px solid forestgreen;
  border-radius: 20px;
  cursor: pointer;
}

.heat-map {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 5px;
  overflow-x: scroll;
}